
<div class="home-container">
    <h1 class="home-title">Bienvenue sur votre site de réservation de séance de sport</h1>
    <p class="home-text">
      Vous pourrez retrouver vos séances préféré et les réserver en quelques clics !
    </p>
    <p class="home-text">
      Accédez aux séances de sport de votre choix, réservez et rejoignez votre établissement le plus proche !
    </p>
    <p class="home-text">
      Pour commencer, cliquez sur le bouton ci-dessous !
    </p>
    <button pButton type="button" label="Réserver une séance" routerLink="/workouts"></button>
</div>